@import url('https://fonts.googleapis.com/css2?family=Arima:wght@400;500&display=swap');

body {
  margin: 0;
  font-family: 'Arima', cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to right bottom, #0d1117, #071020, #050d28, #07082f, #0f0234);
  background-attachment: fixed;
}


